# Virtual environment
venv/

# Python bytecode
__pycache__/
*.pyc

# Audio files
*.wav
*.mp3

# macOS
.DS_Store

# Environment variables
.env

# Python packaging
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
planning/

# Model cache
model_cache/

# Logs
*.log
